.login {
  background-color: white;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.125);
  padding: 0;
  box-shadow: 10px 10px 10px #538824; }
  .login__container {
    background-color: #6db22f;
    height: 100vh;
    justify-content: center;
    align-items: center; }
  .login__header {
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125); }
    .login__header-text {
      font-size: 30px;
      color: #6db22f; }
  .login__body {
    padding: 20px 80px; }
  .login__footer {
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(0, 0, 0, 0.125); }
  .login__text {
    color: #6db22f; }
  .login__link {
    color: #6db22f; }
    .login__link:hover {
      color: #538824;
      text-decoration: none; }

.btn__default {
  color: #fff;
  background-color: #6db22f;
  border-color: #6db22f; }
  .btn__default:hover {
    background-color: #538824; }

.m--top-5 {
  margin-top: 5px; }

.m--bottom-5 {
  margin-bottom: 5px; }

.m--left-5 {
  margin-left: 5px; }

.m--right-5 {
  margin-right: 5px; }

.m--all-5 {
  margin: 5px; }

.m--top-10 {
  margin-top: 10px; }

.m--bottom-10 {
  margin-bottom: 10px; }

.m--left-10 {
  margin-left: 10px; }

.m--right-10 {
  margin-right: 10px; }

.m--all-10 {
  margin: 10px; }

.m--top-15 {
  margin-top: 15px; }

.m--bottom-15 {
  margin-bottom: 15px; }

.m--left-15 {
  margin-left: 15px; }

.m--right-15 {
  margin-right: 15px; }

.m--all-15 {
  margin: 15px; }

.m--top-20 {
  margin-top: 20px; }

.m--bottom-20 {
  margin-bottom: 20px; }

.m--left-20 {
  margin-left: 20px; }

.m--right-20 {
  margin-right: 20px; }

.m--all-20 {
  margin: 20px; }

.m--top-25 {
  margin-top: 25px; }

.m--bottom-25 {
  margin-bottom: 25px; }

.m--left-25 {
  margin-left: 25px; }

.m--right-25 {
  margin-right: 25px; }

.m--all-25 {
  margin: 25px; }

.flex {
  display: flex; }
  .flex--center-h {
    align-items: center; }
  .flex--center-v {
    justify-content: center; }

.dash {
  color: #6db22f; }

input[type="checkbox"] {
  width: 17px;
  height: 17px; }

input:focus {
  border-color: #6db22f !important;
  box-shadow: 0 0 0 0.2rem #bde49a !important; }
