$question-container-background-cl: #6db22f;
$question-background-cl: white;
$question-padding-overall: 50px;
$question-header-background-cl: #6db22f;
$question-header-text-cl: white;
$question-instruction-background-cl: #6db22f;
$question-instruction-text-cl: white;
$question-footer-background-cl: #6db22f;
$question-footer-text-cl: white;
.question {
  background-color: $question-background-cl;
  padding: $question-padding-overall;
  border-radius: 30px;
  box-shadow: 10px 10px 10px #538824;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    padding: 50px 0;
    min-height: 93vh;
    background-color: $question-container-background-cl;
  }
  &__header {
    background-color: $question-header-background-cl;
    min-height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    border-radius: 20px;
  }
  &__details {
    color: $question-header-text-cl;
    display: block;
  }
  &__media {
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & img {
      max-height: 200px;
      border: 3px solid #fff;
      margin-left: 30px;
    }
  }
  &__paragraph {
    margin-bottom: 30px;
    padding: 15px 30px;
    & h5 {
      color: #fff;
    }
  }
  &__body {
    min-height: 300px;
    padding: 30px 50px 50px;
  }
  &__instructions {
    margin-bottom: 20px;
    &-text {
      font-style: italic;
      &--fill {
        // background-color: $question-instruction-background-cl;
        font-weight: 700;
        color: #6db22f;
        padding: 3px;
      }
    }
  }
  &__answers {
    // border: 1px solid #000;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  &__choice {
    font-size: 17px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__submit {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__footer {
    background-color: $question-footer-background-cl;
    min-height: 50px;
  }
  &__navigator {
    position: relative;
    width: 100%;
    &-button {
      min-height: 50px;
      min-width: 50px;
      font-weight: 700;
      color: #fff;
      background-color: #6db22f;
      border: none;
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
    }
    &-prev {
      position: absolute;
      left: 15px;
      right: auto;
    }
    &-next {
      position: absolute;
      left: auto;
      right: 15px;
    }
  }
}