<nav class="sidebar col-lg-3">
  <ul class="sidebar__list">
    <li class="sidebar__item">
      <a href="#" class="js-sidebar-item  sidebar__link">
        <i class="fa fa-user-circle-o sidebar__icon" aria-hidden="true"></i>            
        Chọn phần ôn thi
      </a>
      <ul class="sidebar__list sidebar__list--sub">
        
        <li class="sidebar__item">
          <a href="/manage_report_admin.html" class="sidebar__link">
            Nghe
          </a>
        </li>
        <li class="sidebar__item">
          <a href="/manage_report_staff.html" class="sidebar__link">
            Ngữ pháp
          </a>
        </li>
        <li class="sidebar__item">
          <a href="/manage_report_staff.html" class="sidebar__link">
            Đọc
          </a>
        </li>
      </ul>
    </li>
    <li class="sidebar__item">
      <a href="#" class="js-sidebar-item sidebar__link">
        <i class="fa fa-shopping-bag sidebar__icon" aria-hidden="true"></i>
        Khách Hàng
      </a>
      <ul class="sidebar__list sidebar__list--sub">
        <li class="sidebar__item">
          <a href="/list_customer.html" class="sidebar__link">
            Table Khách Hàng
          </a>
        </li>
        <li class="sidebar__item">
          <a href="/custom.html" class="sidebar__link">
            Dashboard khách hàng
          </a>
        </li>
        <li class="sidebar__item">
          <a href="/contact.html" class="sidebar__link">
            Liên Hệ
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
