/* line 2, ../scss/_button.scss */
.btn__default {
  color: #fff;
  background-color: #6db22f;
  border-color: #6db22f; }
  /* line 6, ../scss/_button.scss */
  .btn__default:hover {
    background-color: #538824; }

/* line 2, ../scss/_layout.scss */
.page-header {
  min-height: 70px;
  border: 1px solid #000; }

/* line 2, ../scss/_reset.scss */
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-bottom: 0; }

/* line 14, ../scss/_reset.scss */
a:hover {
  text-decoration: none; }

/* line 19, ../scss/_reset.scss */
ul {
  list-style: none; }

/* line 24, ../scss/_reset.scss */
input:focus {
  border-color: #6db22f !important;
  -webkit-box-shadow: 0 0 0 0.2rem #bde49a !important;
          box-shadow: 0 0 0 0.2rem #bde49a !important; }
/* line 28, ../scss/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  width: 17px;
  height: 17px; }
/* line 33, ../scss/_reset.scss */
input[type="radio"]:focus {
  border: none !important; }

/* line 37, ../scss/_reset.scss */
label {
  margin-left: 5px; }

/* line 2, ../scss/_things.scss */
.m--top-5 {
  margin-top: 5px; }

/* line 5, ../scss/_things.scss */
.m--bottom-5 {
  margin-bottom: 5px; }

/* line 8, ../scss/_things.scss */
.m--left-5 {
  margin-left: 5px; }

/* line 11, ../scss/_things.scss */
.m--right-5 {
  margin-right: 5px; }

/* line 14, ../scss/_things.scss */
.m--all-5 {
  margin: 5px; }

/* line 2, ../scss/_things.scss */
.m--top-10 {
  margin-top: 10px; }

/* line 5, ../scss/_things.scss */
.m--bottom-10 {
  margin-bottom: 10px; }

/* line 8, ../scss/_things.scss */
.m--left-10 {
  margin-left: 10px; }

/* line 11, ../scss/_things.scss */
.m--right-10 {
  margin-right: 10px; }

/* line 14, ../scss/_things.scss */
.m--all-10 {
  margin: 10px; }

/* line 2, ../scss/_things.scss */
.m--top-15 {
  margin-top: 15px; }

/* line 5, ../scss/_things.scss */
.m--bottom-15 {
  margin-bottom: 15px; }

/* line 8, ../scss/_things.scss */
.m--left-15 {
  margin-left: 15px; }

/* line 11, ../scss/_things.scss */
.m--right-15 {
  margin-right: 15px; }

/* line 14, ../scss/_things.scss */
.m--all-15 {
  margin: 15px; }

/* line 2, ../scss/_things.scss */
.m--top-20 {
  margin-top: 20px; }

/* line 5, ../scss/_things.scss */
.m--bottom-20 {
  margin-bottom: 20px; }

/* line 8, ../scss/_things.scss */
.m--left-20 {
  margin-left: 20px; }

/* line 11, ../scss/_things.scss */
.m--right-20 {
  margin-right: 20px; }

/* line 14, ../scss/_things.scss */
.m--all-20 {
  margin: 20px; }

/* line 2, ../scss/_things.scss */
.m--top-25 {
  margin-top: 25px; }

/* line 5, ../scss/_things.scss */
.m--bottom-25 {
  margin-bottom: 25px; }

/* line 8, ../scss/_things.scss */
.m--left-25 {
  margin-left: 25px; }

/* line 11, ../scss/_things.scss */
.m--right-25 {
  margin-right: 25px; }

/* line 14, ../scss/_things.scss */
.m--all-25 {
  margin: 25px; }

/* line 19, ../scss/_things.scss */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  /* line 22, ../scss/_things.scss */
  .flex--center-h {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  /* line 25, ../scss/_things.scss */
  .flex--center-v {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

/* line 30, ../scss/_things.scss */
.dash {
  color: #6db22f; }

/* line 13, ../scss/_sidebar.scss */
.sidebar {
  padding: 0;
  width: 220px;
  -webkit-transition: .5s width;
  transition: .5s width;
  background-color: white;
  min-height: 100vh; }
  @media (max-width: 767px) {
    /* line 13, ../scss/_sidebar.scss */
    .sidebar {
      display: none;
      position: fixed;
      z-index: 1;
      width: 100%;
      min-height: 1vh;
      border-bottom: 1px solid rgba(73, 80, 87, 0.2); } }
  /* line 29, ../scss/_sidebar.scss */
  .sidebar__list {
    list-style: none;
    padding: 0;
    margin-bottom: 0; }
    @media (max-width: 575px) {
      /* line 29, ../scss/_sidebar.scss */
      .sidebar__list {
        width: 100%; } }
    /* line 36, ../scss/_sidebar.scss */
    .sidebar__list--sub {
      display: none;
      background-color: #67ae3d; }
  /* line 41, ../scss/_sidebar.scss */
  .sidebar__item {
    position: relative; }
    /* line 43, ../scss/_sidebar.scss */
    .sidebar__item:not(:last-of-type) {
      border-bottom: 1px solid rgba(73, 80, 87, 0.2); }
  /* line 47, ../scss/_sidebar.scss */
  .sidebar__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    color: #495057;
    background-color: transparent;
    position: relative;
    padding: 16px;
    line-height: 24px; }
    /* line 55, ../scss/_sidebar.scss */
    .sidebar__link:hover {
      -webkit-transition: .3s;
      transition: .3s;
      text-decoration: none;
      color: #495057;
      background-color: transparent; }
    @media (max-width: 767px) {
      /* line 47, ../scss/_sidebar.scss */
      .sidebar__link {
        padding: 16px 30px; } }
  /* line 65, ../scss/_sidebar.scss */
  .sidebar__icon {
    font-size: 15px;
    line-height: 22px;
    margin-right: 8px; }
  /* line 71, ../scss/_sidebar.scss */
  .sidebar__item {
    font-size: 17px;
    color: #479c0e; }
  /* line 76, ../scss/_sidebar.scss */
  .sidebar__text--sub {
    display: none;
    color: #000;
    background-color: white;
    padding: 12.5px;
    text-align: center; }
    @media (max-width: 767px) {
      /* line 76, ../scss/_sidebar.scss */
      .sidebar__text--sub {
        display: block; } }
    @media (max-width: 575px) {
      /* line 76, ../scss/_sidebar.scss */
      .sidebar__text--sub {
        display: none; } }

/* line 1, ../scss/pages/_login.scss */
.login {
  background-color: white;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.125);
  padding: 0;
  -webkit-box-shadow: 10px 10px 10px #538824;
          box-shadow: 10px 10px 10px #538824; }
  /* line 7, ../scss/pages/_login.scss */
  .login__container {
    background-color: #6db22f;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  /* line 13, ../scss/pages/_login.scss */
  .login__header {
    min-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125); }
    /* line 19, ../scss/pages/_login.scss */
    .login__header-text {
      font-size: 30px;
      color: #6db22f; }
  /* line 24, ../scss/pages/_login.scss */
  .login__body {
    padding: 20px 80px; }
  /* line 27, ../scss/pages/_login.scss */
  .login__footer {
    min-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 2px solid rgba(0, 0, 0, 0.125); }
  /* line 34, ../scss/pages/_login.scss */
  .login__text {
    color: #6db22f; }
  /* line 37, ../scss/pages/_login.scss */
  .login__link {
    color: #6db22f; }
    /* line 39, ../scss/pages/_login.scss */
    .login__link:hover {
      color: #538824;
      text-decoration: none; }

/* line 10, ../scss/pages/_question.scss */
.question {
  background-color: white;
  padding: 50px;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 10px #538824;
          box-shadow: 10px 10px 10px #538824; }
  /* line 15, ../scss/pages/_question.scss */
  .question__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    background-color: #6db22f; }
  /* line 22, ../scss/pages/_question.scss */
  .question__header {
    background-color: #6db22f;
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0 30px;
    border-radius: 20px; }
  /* line 31, ../scss/pages/_question.scss */
  .question__details {
    color: white;
    display: block; }
  /* line 35, ../scss/pages/_question.scss */
  .question__media {
    width: 80%;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    /* line 41, ../scss/pages/_question.scss */
    .question__media img {
      max-height: 200px;
      border: 3px solid #fff;
      margin-left: 30px; }
  /* line 47, ../scss/pages/_question.scss */
  .question__paragraph {
    margin-bottom: 30px;
    padding: 15px 30px; }
    /* line 50, ../scss/pages/_question.scss */
    .question__paragraph h5 {
      color: #fff; }
  /* line 54, ../scss/pages/_question.scss */
  .question__body {
    min-height: 300px;
    padding: 30px 50px 50px; }
  /* line 58, ../scss/pages/_question.scss */
  .question__instructions {
    margin-bottom: 20px; }
    /* line 60, ../scss/pages/_question.scss */
    .question__instructions-text {
      font-style: italic; }
      /* line 62, ../scss/pages/_question.scss */
      .question__instructions-text--fill {
        background-color: #6db22f;
        color: white;
        padding: 3px; }
  /* line 69, ../scss/pages/_question.scss */
  .question__answers {
    padding: 15px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  /* line 76, ../scss/pages/_question.scss */
  .question__choice {
    font-size: 17px;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    /* line 82, ../scss/pages/_question.scss */
    .question__choice:last-child {
      margin-bottom: 0; }
  /* line 86, ../scss/pages/_question.scss */
  .question__submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  /* line 91, ../scss/pages/_question.scss */
  .question__footer {
    background-color: #6db22f;
    min-height: 50px; }
  /* line 95, ../scss/pages/_question.scss */
  .question__navigator {
    position: relative;
    width: 100%; }
    /* line 98, ../scss/pages/_question.scss */
    .question__navigator-button {
      min-height: 50px;
      min-width: 100px;
      color: #fff;
      background-color: #6db22f;
      border: none;
      cursor: pointer; }
    /* line 106, ../scss/pages/_question.scss */
    .question__navigator-prev {
      position: absolute;
      left: 0;
      right: auto; }
    /* line 111, ../scss/pages/_question.scss */
    .question__navigator-next {
      position: absolute;
      left: auto;
      right: 0; }

/* line 1, ../scss/pages/_admin.scss */
.admin {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 10px 10px 10px #538824;
          box-shadow: 10px 10px 10px #538824;
  border-radius: 5px; }
  /* line 7, ../scss/pages/_admin.scss */
  .admin__question-option {
    border: 3px dashed #6db22f;
    padding-top: 20px;
    padding-bottom: 20px; }
  /* line 13, ../scss/pages/_admin.scss */
  .admin__question-list .list {
    max-height: 250px;
    overflow-y: scroll; }
  /* line 19, ../scss/pages/_admin.scss */
  .admin__section {
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ced4da; }

/*# sourceMappingURL=app.css.map */