<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/bootstrap.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
  />
  <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
  <title>Grammar</title>
</head>

<body>
  <header class="page-header">
    <div class="container-fluid">
      <div class="header row">
        <div class="header__user col-lg-3">
          <div class="header__user-avatar">
            <!-- <img src="" alt=""> -->
          </div>
          <div class="header__user-name">
            <form action="">
              <p class="header__user-text"></p>
            </form>
          </div>
        </div>
        <div class="header__setting col-lg-9">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <div class="btn-group">
                <button type="button" class="btn btn__default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-cogs" aria-hidden="true"></i>
                  Thiết lập
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Thay đổi mật khẩu</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Thiết lập khác</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a href="/logout" class="btn btn__default">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                Đăng xuất
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">

      <nav class="sidebar col-lg-3">
        <ul class="sidebar__list">
          <li class="sidebar__item">
            <a href="#" class="js-sidebar-item  sidebar__link">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              Chọn phần ôn thi
            </a>
            <ul class="sidebar__list sidebar__list--sub">

              <li class="sidebar__item">
                <a href="/admin/listening" class="sidebar__link sidebar--sub__link">
                  <i class="fa fa-headphones" aria-hidden="true"></i>
                  Nghe
                </a>
              </li>
              <li class="sidebar__item">
                <a href="/admin/grammar" class="sidebar__link sidebar--sub__link">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  Ngữ pháp
                </a>
              </li>
              <li class="sidebar__item">
                <a href="/admin/reading" class="sidebar__link sidebar--sub__link">
                  <i class="fa fa-book" aria-hidden="true"></i>
                  Đọc
                </a>
              </li>
            </ul>
          </li>
          <li class="sidebar__item">
            <a href="#" class="js-sidebar-item  sidebar__link">
              <i class="fa fa-wrench" aria-hidden="true"></i>
              Quản lý
            </a>
            <ul class="sidebar__list sidebar__list--sub">

              <li class="sidebar__item">
                <a href="/adminAdd" class="sidebar__link sidebar--sub__link">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  Thêm câu hỏi
                </a>
              </li>
              <li class="sidebar__item">
                <a href="/adminEdit" class="sidebar__link sidebar--sub__link">
                  <i class="fa fa-eraser" aria-hidden="true"></i>
                  Chỉnh sửa câu hỏi
                </a>
              </li>
            </ul>
          </li>
          <li class="sidebar__item">
            <a href="/admin/leaderboard" class="js-sidebar-item  sidebar__link">
              <i class="fa fa-trophy" aria-hidden="true"></i>
              Thống kê
            </a>
          </li>
        </ul>
      </nav>

      <main class="page-main col-lg-9">
        <div class="main">
          <div class="container-fluid">
            <div class="row question__container">
              <div class="question col-lg-8">
                <div class="question__header">
                  <h3 class="question__details" th:text="${question.detailQuestion}">
                    <i class="fa fa-question-circle fa-2x" aria-hidden="true"></i>
                  </h3>
                </div>
                <form method="POST">
                  <div class="question__body">
                    <div class="question__instructions">
                      <small class="question__instructions-text">
                        <span class="question__instructions-text--fill">
                          <i class="fa fa-info-circle" aria-hidden="true"></i>
                          Hướng dẫn:
                        </span>
                        Chọn câu trả lời đúng nhất và gửi đáp án bằng cách nhấn vào nút "Xác nhận" bên dưới.
                      </small>
                    </div>

                    <div class="question__answers">
                      <ul class="question__answers-list">
                        <li class="question__choice">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="answerGroup" id="answer1" value="value1" />
                            <label class="form-check-label" for="answer1" th:text="${question.answerA}"></label>
                          </div>
                        </li>
                        <li class="question__choice">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="answerGroup" id="answer2" value="value2" />
                            <label class="form-check-label" for="answer2" th:text="${question.answerB}"></label>
                          </div>
                        </li>
                        <li class="question__choice">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="answerGroup" id="answer3" value="value3" />
                            <label class="form-check-label" for="answer3" th:text="${question.answerC}"></label>
                          </div>
                        </li>
                        <li class="question__choice">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="answerGroup" id="answer4" value="value4" />
                            <label class="form-check-label" for="answer4" th:text="${question.answerD}"></label>
                          </div>
                        </li>
                      </ul>
                    </div>

                    <div class="question__submit">
                      <button type="submit" id="btn-submit-answer" class="btn btn-lg btn__default" formaction="/admin/validate">Kết thúc</button>
                    </div>
                  </div>

                  <div class="question__footer">

                    <div class="question__navigator">

                      <div class="question__navigator-prev">
                        <button class="question__navigator-button js-prev-q" aria-hidden="true" formaction="/backMCQuestion">
                          <i class="fa fa-arrow-left" aria-hidden="true"></i>
                          Câu trước
                        </button>
                      </div>

                      <div class="question__navigator-next">
                        <button class="question__navigator-button js-next-q" aria-hidden="true" formaction="/nextMCQuestion">
                          Câu kế
                          <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </button>
                      </div>

                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>


  <script type="text/javascript" th:src="@{/webjars/jquery/jquery-3.3.1.js}"></script>
  <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>

</html>