<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/bootstrap.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/font-awesome.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
  <title>Thêm câu hỏi</title>
</head>

<body>
  <header class="page-header">
    <div class="container-fluid">
      <div class="header row">
        <div class="header__user col-lg-3">
          <div class="header__user-avatar">
            <!-- <img src="" alt=""> -->
          </div>
          <div class="header__user-name">
            <p class="header__user-text">Username</p>
          </div>
        </div>
        <div class="header__setting col-lg-9">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a href="#" class="nav-link">
                Settings
              </a>
            </li>
            <li class="nav-item">
              <a href="/logOut" class="nav-link">
                Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">

      <nav class="sidebar col-lg-3">
        <ul class="sidebar__list">
          <li class="sidebar__item">
            <a href="#" class="js-sidebar-item  sidebar__link">
              Chọn phần ôn thi
            </a>
            <ul class="sidebar__list sidebar__list--sub">

              <li class="sidebar__item">
                <a href="/listening" class="sidebar__link sidebar--sub__link">
                  Nghe
                </a>
              </li>
              <li class="sidebar__item">
                <a href="/grammer" class="sidebar__link sidebar--sub__link">
                  Ngữ pháp
                </a>
              </li>
              <li class="sidebar__item">
                <a href="/reading" class="sidebar__link sidebar--sub__link">
                  Đọc
                </a>
              </li>
            </ul>
          </li>
          <li class="sidebar__item">
            <a href="#" class="js-sidebar-item  sidebar__link">
              Quản lý
            </a>
            <ul class="sidebar__list sidebar__list--sub">

              <li class="sidebar__item">
                <a href="/displayAdminAdd" class="sidebar__link sidebar--sub__link">
                  Thêm câu hỏi
                </a>
              </li>
              <li class="sidebar__item">
                <a href="/displayAdminEdit" class="sidebar__link sidebar--sub__link">
                  Chỉnh sửa câu hỏi
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <main class="page-main col-lg-9">
        <div class="main">
          <div class="container-fluid">
            <div class="row question__container">
              <div class="admin col-lg-11 p-5">
              
                <form action="" >
                  <div class="admin__question-option row">
                    <!-- <div class="form-group col-lg-3">
                      <label>Loại câu hỏi: </label>
                      <select class="form-control js-question-type">
                        <option>Chọn</option>
                        <option value="nhập value mapping ở đây" selected="selected">Ngữ pháp</option>
                        <option value="nhập value mapping ở đây">Nghe</option>
                        <option value="nhập value mapping ở đây">Đọc</option>
                      </select>
                    </div> -->
                  </div>
                  <div class="admin__question px-5 py-3">
                  <form th:object="${question}" method="POST">
                    <div class="admin__section">
                      <div class="form-group">
                        <textarea class="form-control" rows="3" th:field="*{detailQuestion}"></textarea>
                      </div>
                    </div>
                    <div class="admin__section">
                      <div class="admin__answers-list js-new-answers-list">
                       
                        <div class="form-inline mb-4">
                          <input type="text" class="form-control w-75 mr-5" th:field="*{answerA}"  />
                          <input class="form-check-input" type="radio" name="rightAnswer" value="A"/>
                          <label class="form-check-label">
                            Đáp án đúng
                          </label>
                        </div>
                        <div class="form-inline mb-4">
                          <input type="text" class="form-control w-75 mr-5" th:field="*{answerB}" />
                          <input class="form-check-input" type="radio" name="rightAnswer" value="B"/>
                          <label class="form-check-label">
                            Đáp án đúng
                          </label>
                        </div>
                        <div class="form-inline mb-4">
                          <input type="text" class="form-control w-75 mr-5" th:field="*{answerC}"/>
                          <input class="form-check-input" type="radio" name="rightAnswer" value="C"/>
                          <label class="form-check-label">
                            Đáp án đúng
                          </label>
                        </div>
                        <div class="form-inline mb-4">
                          <input type="text" class="form-control w-75 mr-5" th:field="*{answerD}"/>
                          <input class="form-check-input" type="radio" name="rightAnswer" value="D"/>
                          <label class="form-check-label">
                            Đáp án đúng
                          </label>
                        </div>
                      
                      </div>
                    </div>
                    <div class="float-right mt-5">
                      <button type="reset" class="btn btn-lg btn__default" >Nhập lại</button>

                      <button type="submit" class="btn btn-lg btn__default" formaction="/insertMCQuestion" formmethod="post">Thêm</button>
                    </div>
                    </form>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>


  <script type="text/javascript" th:src="@{/webjars/jquery/jquery-3.3.1.js}"></script>
  <script type="text/javascript" th:src="@{/js/admin.js}"></script>
  <script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>

</html>