<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/bootstrap.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
  <title>Thêm câu hỏi</title>
</head>

<body>
  <header class="page-header">
    <div class="container-fluid">
      <div class="header row">
        <div class="header__user col-lg-3">
          <div class="header__user-avatar">
            <!-- <img src="" alt=""> -->
          </div>
          <div class="header__user-name">
            <p class="header__user-text"></p>
          </div>
        </div>
        <div class="header__setting col-lg-9">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a href="#" class="nav-link">
                Settings
              </a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link">
                Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">

      <nav class="sidebar col-lg-3">
        <ul class="sidebar__list">
          <li class="sidebar__item">
            <a href="#" class="js-sidebar-item  sidebar__link">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              Chọn phần ôn thi
            </a>
            <ul class="sidebar__list sidebar__list--sub">

              <li class="sidebar__item">
                <a href="/admin/listening" class="sidebar__link sidebar--sub__link">
                  <i class="fa fa-headphones" aria-hidden="true"></i>
                  Nghe
                </a>
              </li>
              <li class="sidebar__item">
                <a href="/admin/grammar" class="sidebar__link sidebar--sub__link">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  Ngữ pháp
                </a>
              </li>
              <li class="sidebar__item">
                <a href="/admin/reading" class="sidebar__link sidebar--sub__link">
                  <i class="fa fa-book" aria-hidden="true"></i>
                  Đọc
                </a>
              </li>
            </ul>
          </li>
          <li class="sidebar__item">
            <a href="#" class="js-sidebar-item  sidebar__link">
              <i class="fa fa-wrench" aria-hidden="true"></i>
              Quản lý
            </a>
            <ul class="sidebar__list sidebar__list--sub">

              <li class="sidebar__item">
                <a href="/adminAdd" class="sidebar__link sidebar--sub__link">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  Thêm câu hỏi
                </a>
              </li>
              <li class="sidebar__item">
                <a href="/adminEdit" class="sidebar__link sidebar--sub__link">
                  <i class="fa fa-eraser" aria-hidden="true"></i>
                  Chỉnh sửa câu hỏi
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <main class="page-main col-lg-9">
        <div class="main">
          <div class="container-fluid">
            <div class="row question__container">
              <div class="admin col-lg-11 p-5">
                <form action="">
                  <div class="admin__question-option row">
                    <div class="form-group col-lg-3">
                      <label>Loại câu hỏi: </label>
                      <select class="form-control js-question-type">
                        <option>Chọn</option>
                        <option value="displayAdminAddGrammar">Ngữ pháp</option>
                        <option value="displayAdminAddListening">Nghe</option>
                        <option value="displayAdminAddReading">Đọc</option>
                      </select>
                    </div>
                  </div>
                  <div class="admin__question px-5 py-3 d-none">
                    <!-- <div class="admin__section">
                      <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Điền câu hỏi mới ..." th:text="${detailQuestion}"></textarea>
                      </div>
                    </div>
                    <div class="admin__section row mx-0 question__media d-none">
                      <div class="form-group w-50 mb-4 px-1 float-left d-none">
                        <label>File âm thanh</label>
                        <input type="file" class="form-control js-question-soundtrack" />
                      </div>
                      <div class="form-group w-50 mb-4 px-1 float-right d-none">
                        <label>File hình</label>
                        <input type="file" class="form-control js-question-image" />
                      </div>
                    </div>
                    <div class="admin__section">
                      <div class="admin__answers-list js-new-answers-list">
                        <div class="form-inline mb-4">
                          <input type="text" class="form-control w-75 mr-5" id="answerA" placeholder="Đáp án A" />
                          <input class="form-check-input" type="radio" name="rightAnswer" />
                          <label class="form-check-label">
                            Đáp án đúng
                          </label>
                        </div>
                        <div class="form-inline mb-4">
                          <input type="text" class="form-control w-75 mr-5" id="answerB" placeholder="Đáp án B" />
                          <input class="form-check-input" type="radio" name="rightAnswer" />
                          <label class="form-check-label">
                            Đáp án đúng
                          </label>
                        </div>
                        <div class="form-inline mb-4">
                          <input type="text" class="form-control w-75 mr-5" id="answerC" placeholder="Đáp án C" />
                          <input class="form-check-input" type="radio" name="rightAnswer" />
                          <label class="form-check-label">
                            Đáp án đúng
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="float-right mt-5">
                      <button type="reset" class="btn btn-lg btn__default">Nhập lại</button>

                      <button type="submit" class="btn btn-lg btn__default">Thêm</button>
                    </div> -->
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>


  <script type="text/javascript" th:src="@{/webjars/jquery/jquery-3.3.1.js}"></script>
  <script type="text/javascript" th:src="@{/js/admin.js}"></script>
  <script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>

</html>