.page {
  &-header {
    min-height: 70px;
    border-bottom: 1px solid rgba(73, 80, 87, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-main {
    padding: 0;
  }
}